
.testimonios-main{
    display: flex;
    width: 100%;
}

.testimonios-child{
    width: 100%;
}

.testimonios-text{
    background-color: #90388B;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-direction: start;
}

.testimonios-text h3:first-child{
    font-size: 2.5rem;
}

.testimonios-text h3:last-child{
    font-size: 3.5rem;
}

.testimonios-text h3 span{
    color: #FCEE21;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
}